a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp6e9e2c54{ color:#A01FCB; text-decoration: underline} 
		a.wsp6e9e2c54:visited{ color:#800080; text-decoration: underline} 
		a.wsp6e9e2c54:active{ color:#8018CB; text-decoration: underline} 
		a.wsp6e9e2c54:hover{ color:#E3B4F3; text-decoration: underline} 
#button_7635e4ac { box-sizing: border-box; vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:438px; height:34px; background-color:#5C5C5C; background: linear-gradient(to bottom, #9A9A9A, #5C5C5C); border: 2px solid #FFFFFF;  }
#button_7635e4ac:hover { background-color:#0A0D1E; background: linear-gradient(to bottom, #A9A9AA, #0A0D1E); border-color:#FFFFFF;  }
#button_7635e4ac:hover span { color:#FFFFFF; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_7107b4be { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:118px; background-color:#9A9A9A;  }
#container_7107b4be_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#img_2d7b4969 { vertical-align: bottom; position:relative; display: inline-block; width:33%; background:none; height:auto;  }
#container_79dff3b4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:76px; background:none;  }
#container_79dff3b4_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#0080FF; font-weight:bold;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-decoration:underline;  }
#container_7cabf6e6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:66px; background-color:#9A9A9A;  }
#container_7cabf6e6_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
