a { color:#57ABFF; } 
a:visited { color:#00AFCE; } 
a:active { color:#5C615E; } 
a:hover { color:#FFFFFF; } 
#button_2386f5af { box-sizing: border-box; vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:173px; height:23px; background:none; border: 2px solid #FFFFFF;  }
#button_2386f5af:hover { border-color:#FFFFFF;  }
#button_2386f5af:hover span { color:#FFFFFF; }
#img_50cb666a:hover { filter: brightness( 80%);  } 
#img_6abaa81e:hover { filter: brightness( 80%);  } 
#menu_46b0c69c a { text-decoration: none; }
#menu_46b0c69c_pane { background-color: #000936; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_46b0c69c_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_46b0c69c_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_46b0c69c_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_46b0c69c_entry:hover span { color:#FFFFFF !important; }
		.menu_46b0c69c_mainMenuEntry { text-align: center; }
		#menu_46b0c69c .mobileEntry { display: none; } 
		#menu_46b0c69c .normalEntry { display: block; } 
		#menu_46b0c69c_menualignmentwrapper{ width:378px; left: calc(100% - 378px);  } 
		@media only screen and (max-width:600px) { 
			#menu_46b0c69c .mobileEntry { display: block; } 
			#menu_46b0c69c .normalEntry { display: none; } 
			#menu_46b0c69c_menualignmentwrapper { width:39px; left: calc(100% - 39px);  } 
		}
#img_798910f0:hover { filter: brightness( 80%);  } 
#img_365f079f:hover { filter: brightness( 80%);  } 
#img_4bd8ccd3:hover { filter: brightness( 80%);  } 
#img_382cbccc:hover { filter: brightness( 80%);  } 
body { background-color:#000936; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_8538c1f { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#000936; border-top: none; border-left: none; border-right: none; border-bottom: none;  }
#container_2ccd4f1f { vertical-align: top; position:relative; display: inline-block; float:left; width:68%; min-height:71px; max-width:150px; background:none;  }
#container_2ccd4f1f_padding { margin: 10px; display: block;  }
#img_6abaa81e { vertical-align: bottom; position:relative; display: inline-block; margin:3px 0px 0px 0px;width:21%; min-width:170px; max-width:200px; background:none; height:auto;  }
.textstyle2 { text-align:right; }
#menu_46b0c69c { vertical-align: top; position:relative; display: inline-block; float:right; margin:15px 10px 0px 0px;width:52%; height:38px; text-align:left; background:none;  }
#menu_46b0c69c_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:39px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:37px;  }
.textstyle3 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle2 { position:absolute; width:63px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:21px;  }
.textstyle4 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle3 { position:absolute; width:24px; height:38px; left:63px;  }
.menustyle4 { position:absolute; width:111px; height:38px; left:87px;  }
.menustyle5 { position:absolute; width:24px; height:38px; left:198px;  }
.menustyle6 { position:absolute; width:74px; height:38px; left:222px;  }
.menustyle7 { position:absolute; width:24px; height:38px; left:296px;  }
.menustyle8 { position:absolute; width:58px; height:38px; left:320px;  }
.textstyle5 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
#placeh_44c6c9cc { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:10px; background-color:#FFFFFF;  }
#container_3148d828 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:500px; background:none;  }
#container_5f88a5e0 { position:absolute; left:12%; top:17%; width:70%; min-height:150px; background:none;  }
#container_5f88a5e0_padding { margin: 10px; display: block;  }
#slide_629e3c79 { overflow:hidden; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:0; padding-top:73%; background:none;  }
#container_7062c2b0 { border-radius: 15px; position:absolute; left:2%; top:70%; width:96%; min-height:68px; background-color:rgba(86, 86, 86, 0.6);  }
.textstyle6 { text-align:center; }
#text_2cc87846 { vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:257px; height:40px; background:none;  }
.textstyle7 { font-size:11pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle8 { font-size:11pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle9 { font-size:11pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-style:italic; font-weight:bold;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle10 { font-size:10pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_5e6975ff { box-sizing: border-box; vertical-align: top; border-radius: 30px; position:relative; display: inline-block; width:97%; min-width:300px; max-width:400px; background-color:#565656; border: 10px solid #FFFFFF;  }
#container_5e6975ff_padding { margin: 10px; display: block;  }
#container_76372fca { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:131px; background:none;  }
#slide_62a75dad { overflow:hidden; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:100%; height:0; padding-top:122%; min-width:150px; max-width:700px; background:none;  }
#container_2591842a { box-sizing: border-box; vertical-align: top; border-radius: 30px; position:relative; display: inline-block; width:97%; min-width:300px; max-width:400px; background-color:#565656; border: 10px solid #FFFFFF;  }
#container_2591842a_padding { margin: 10px; display: block;  }
#container_1e714477 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:131px; background:none;  }
#slide_6d1ec1f3 { overflow:hidden; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:100%; height:0; padding-top:122%; min-width:150px; max-width:700px; background:none;  }
#container_7c4b71e { vertical-align: top; position:relative; display: inline-block; width:86%; min-height:10px; min-width:300px; max-width:1000px; background:none;  }
#img_508c6e15 { vertical-align: bottom; position:relative; display: inline-block; width:59%; max-width:500px; background:none; height:auto;  }
#container_409996f1 { box-sizing: border-box; vertical-align: top; border-radius: 30px; position:relative; display: inline-block; width:100%; min-height:300px; max-width:700px; background-color:#565656; border: 10px solid #FFFFFF;  }
#container_409996f1_padding { margin: 10px; display: block;  }
#container_b749fb5 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#img_50cb666a { vertical-align: bottom; position:relative; display: inline-block; width:50%; min-width:150px; max-width:200px; background:none; height:auto;  }
.textstyle11 { font-size:11pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
.textstyle12 { font-size:11pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle13 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_2aa5a736 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:53px; max-width:500px; background:none;  }
#container_2aa5a736_padding { margin: 10px; display: block;  }
#img_798910f0 { box-sizing: border-box; vertical-align: top; border-radius: 360px; position:relative; display: inline-block; width:10%; min-width:60px; max-width:50px; background:none; border: 1px solid #FFFFFF; height:auto;  }
#img_365f079f { box-sizing: border-box; vertical-align: top; border-radius: 360px; position:relative; display: inline-block; margin:0px 0px 0px 3px;width:10%; min-width:60px; max-width:50px; background:none; border: 1px solid #FFFFFF; height:auto;  }
#img_4bd8ccd3 { box-sizing: border-box; vertical-align: top; border-radius: 360px; position:relative; display: inline-block; margin:0px 0px 0px 3px;width:10%; min-width:60px; max-width:50px; background:none; border: 1px solid #FFFFFF; height:auto;  }
#img_382cbccc { box-sizing: border-box; vertical-align: top; border-radius: 360px; position:relative; display: inline-block; margin:0px 0px 0px 3px;width:13%; min-width:60px; max-width:50px; background:none; border: 1px solid #FFFFFF; height:auto;  }
.textstyle14 { font-size:8pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
