a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#img_798910f0:hover { filter: brightness( 80%);  } 
#img_365f079f:hover { filter: brightness( 80%);  } 
#img_382cbccc:hover { filter: brightness( 80%);  } 
#img_f645165:hover { filter: brightness( 80%);  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_8538c1f { box-sizing: border-box; vertical-align: top; border-radius: 0px 0px 15px 0px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#2F2F2F; background-image: url(rc_images/1de1fd2b_1931_49ba_b792_d5cb17afa455.png); background-position:center center; background-size:cover; border-top: none; border-left: none; border-right: 3px solid #0065A3; border-bottom: 3px solid #0065A3;  }
#container_8538c1f_padding { margin: 10px; display: block;  }
#img_49364a9 { vertical-align: bottom; position:relative; display: inline-block; width:38%; background:none; height:auto;  }
#container_372572cb { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:50px; background:none;  }
#container_372572cb_padding { margin: 10px; display: block;  }
#container_6e2ba9d9 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:50px; background:none;  }
#container_6e2ba9d9_padding { margin: 10px; display: block;  }
#container_606e82ec { vertical-align: top; position:relative; display: inline-block; width:28%; min-height:50px; background:none;  }
#container_606e82ec_padding { margin: 10px; display: block;  }
#container_3c000d03 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_3c000d03_padding { margin: 10px; display: block;  }
#container_385cb94e { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:110px; background-color:#2F2F2F; border-top: 3px solid #0065A3; border-left: none; border-right: none; border-bottom: 1px solid #404040;  }
#container_385cb94e_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#img_798910f0 { vertical-align: top; position:relative; display: inline-block; width:10%; min-width:30px; max-width:60px; background:none; height:auto;  }
#img_365f079f { vertical-align: top; position:relative; display: inline-block; width:10%; min-width:30px; max-width:60px; background:none; height:auto;  }
#img_382cbccc { vertical-align: top; position:relative; display: inline-block; width:10%; min-width:30px; max-width:60px; background:none; height:auto;  }
#container_49ec4bae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_49ec4bae_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:8pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
#img_f645165 { vertical-align: bottom; position:relative; display: inline-block; width:24%; min-width:100px; max-width:200px; background:none; height:auto;  }
