a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#img_3c000d03:hover { filter: brightness( 80%);  } 
#menu_2386f5af a { text-decoration: none; }
#menu_2386f5af_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; border-radius: 15px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_2386f5af_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_2386f5af_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_2386f5af_entry:hover { background-color: #FFFFFF; color: #FFFFFF !important; }
#menu_2386f5af_entry:hover span { color:#FFFFFF !important; }
		.menu_2386f5af_mainMenuEntry { text-align: center; }
		.menu_2386f5af_mainMenuEntry:hover {	background-color:#E5E5E5; }
		.menu_2386f5af_mainMenuEntry:hover span {	color:#0065A3 !important; }
		#menu_2386f5af .mobileEntry { display: none; } 
		#menu_2386f5af .normalEntry { display: block; } 
		#menu_2386f5af_menualignmentwrapper{ width:380px; left: calc(50% - 190px);  } 
#img_798910f0:hover { filter: brightness( 80%);  } 
#img_365f079f:hover { filter: brightness( 80%);  } 
#img_382cbccc:hover { filter: brightness( 80%);  } 
#img_f645165:hover { filter: brightness( 80%);  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_8538c1f { box-sizing: border-box; vertical-align: top; border-radius: 0px 0px 65px 0px; position:relative; display: inline-block; width:100%; min-height:88px; background-color:#2F2F2F; background-image: url(rc_images/1de1fd2b_1931_49ba_b792_d5cb17afa455.png); background-position:center center; background-size:cover; border-top: none; border-left: none; border-right: 3px solid #0065A3; border-bottom: 3px solid #0065A3;  }
#container_8538c1f_padding { margin: 10px; display: block;  }
#container_1f2ec5b6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:170px; background:none;  }
#container_1f2ec5b6_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#img_3c000d03 { vertical-align: bottom; position:relative; display: inline-block; width:40%; min-width:200px; max-width:300px; background:none; height:auto;  }
#container_73017a78 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:27px; background:none;  }
#container_73017a78_padding { margin: 10px; display: block;  }
#menu_2386f5af { vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:100%; height:38px; max-width:400px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, rgba(255, 255, 255, 0.196078), rgba(229, 229, 229, 0.196078));  }
#menu_2386f5af_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:64px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:80px; height:38px; left:64px;  }
.menustyle4 { position:absolute; width:83px; height:38px; left:144px;  }
.menustyle5 { position:absolute; width:153px; height:38px; left:227px;  }
#placeh_44c6c9cc { vertical-align: bottom; position:relative; display: inline-block; width:100%;  }
#container_385cb94e { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:110px; background-color:#2F2F2F; border-top: 3px solid #0065A3; border-left: none; border-right: none; border-bottom: 1px solid #404040;  }
#container_385cb94e_padding { margin: 10px; display: block;  }
#img_798910f0 { vertical-align: top; position:relative; display: inline-block; width:10%; min-width:30px; max-width:60px; background:none; height:auto;  }
#img_365f079f { vertical-align: top; position:relative; display: inline-block; width:10%; min-width:30px; max-width:60px; background:none; height:auto;  }
#img_382cbccc { vertical-align: top; position:relative; display: inline-block; width:10%; min-width:30px; max-width:60px; background:none; height:auto;  }
#container_49ec4bae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_49ec4bae_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:8pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
#img_f645165 { vertical-align: bottom; position:relative; display: inline-block; width:24%; min-width:100px; max-width:200px; background:none; height:auto;  }
