a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_8538c1f { box-sizing: border-box; vertical-align: top; border-radius: 0px 0px 15px 0px; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#2F2F2F; background-image: url(rc_images/1de1fd2b_1931_49ba_b792_d5cb17afa455.png); background-position:center center; background-size:cover; border-top: none; border-left: none; border-right: 3px solid #0065A3; border-bottom: 3px solid #0065A3;  }
#container_8538c1f_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#img_49364a9 { vertical-align: bottom; position:relative; display: inline-block; width:44%; background:none; height:auto;  }
#container_54a1c552 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:29px; background:none;  }
#container_54a1c552_padding { margin: 10px; display: block;  }
